.blockInfo {
    padding: desktop-vw(100) 0 desktop-vw(69) 0;

    &_content {
        display: flex;
        flex-direction: column;
        grid-gap: desktop-vw(70);
    }

    &_title {
        margin: 0 0 desktop-vw(30) 0;
    }

    &_card {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(178, 178, 178, 0.25);
        padding: desktop-vw(40);

        &_textMas {
            display: block;
            font-style: normal;
            font-weight: 900;
            font-size: desktop-vw(16);
            line-height: 120%;
            text-align: center;
            color: #07512F;
            width: max-content;
            position: relative;
            margin: 0 auto;
            text-decoration: none;
    
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background: #FFDB00;
                bottom: desktop-vw(-5);
                left: 0;
            }
        }
        
        &_wrapConatent {
            display: flex;
            align-items: center;
            grid-gap: desktop-vw(106);
        }

        &_part {
            max-width: desktop-vw(730);
            display: flex;
            flex-direction: column;
            grid-gap: desktop-vw(30);
        }

        &_name {
            font-style: normal;
            font-weight: 800;
            font-size: desktop-vw(16);
            line-height: 120%;
            text-align: center;
            color: #DA251D;
            text-align: left;
            margin-bottom: desktop-vw(5);
        }

        &_text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: desktop-vw(16);
            line-height: 120%;
            color: #000000;
        }

        &_img {
            max-width: desktop-vw(518);
            height: auto;
        }
    }
}

@media screen and (max-width: $tablet) {
    .blockInfo {
        padding: tablet-vw(100) 0 tablet-vw(69) 0;
    
        &_content {
            grid-gap: tablet-vw(40);
        }
    
        &_title {
            margin: 0 0 tablet-vw(10) 0;
        }
    
        &_card {
            padding: tablet-vw(20);
    
            &_textMas {
                font-size: tablet-vw(14);
                margin-top: tablet-vw(10);
        
                &:after {
                    bottom: tablet-vw(-5);
                }
            }
            
            &_wrapConatent {
                grid-gap: tablet-vw(0);
            }
    
            &_part {
                max-width: 65%;
                grid-gap: tablet-vw(10);
            }
    
            &_name {
                font-size: tablet-vw(14);
                margin-bottom: tablet-vw(5);
            }
    
            &_text {
                font-size: tablet-vw(14);
            }
    
            &_img {
                max-width: 30%;
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .blockInfo {
        padding: mobile-vw(40) 0 mobile-vw(69) 0;
    
        &_content {
            grid-gap: mobile-vw(40);
        }
    
        &_title {
            margin: 0 0 mobile-vw(10) 0;
        }
    
        &_card {
            padding: mobile-vw(10);

            &_wrapConatent {
                flex-direction: column-reverse;
                grid-gap: mobile-vw(14);
            }
    
            &_textMas {
                font-size: mobile-vw(14);
                margin-top: mobile-vw(10);
        
                &:after {
                    bottom: mobile-vw(-5);
                }
            }
    
            &_part {
                max-width: none;
                grid-gap: mobile-vw(10);
            }
    
            &_name {
                font-size: mobile-vw(12);
                margin-bottom: mobile-vw(5);
            }
    
            &_text {
                font-size: mobile-vw(12);
            }
    
            &_img {
                max-width: none;
                width: auto;
                height: mobile-vw(150);
            }
        }
    }
}