.popular {
    position: relative;
    padding: desktop-vw(52) 0;
    margin-bottom: desktop-vw(50);

    &_title {
        margin-bottom: desktop-vw(40);
    }

    &_list {
        display: flex;
        max-width: desktop-vw(1122);
        justify-content: space-between;
    }

    &_item {
        font-family: 'Reem Kufi';
        font-style: normal;
        font-weight: 500;
        font-size: desktop-vw(18);
        line-height: 120%;
        display: flex;
        grid-gap: desktop-vw(10);

        &_circle {
            border: 1px solid #FFF500;
            display: flex;
            justify-content: center;
            align-items: center;
            width: desktop-vw(24);
            height: desktop-vw(24);
            border-radius: 50%;

            &:before {
                content: "";
                border-radius: 50%;
                display: block;
                width: desktop-vw(10);
                height: desktop-vw(10);
                background: #DA251D;
            }
        }
    }

    &_img {
        position: absolute;
        max-width: desktop-vw(370);
        width: 100%;
        height: auto;
        right: desktop-vw(52);
        top: 0;
    }
}

@media screen and (max-width: $tablet) {
    .popular {
        padding: tablet-vw(0) 0;
        margin-bottom: tablet-vw(50);
    
        &_title {
            margin-bottom: tablet-vw(20);
        }
    
        &_list {
            max-width: none;
            width: 60%;
            position: relative;
            z-index: 5;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: tablet-vw(15);
            justify-content: flex-start;
        }
    
        &_item {
            font-size: tablet-vw(18);
            grid-gap: tablet-vw(10);
    
            &_circle {
                width: tablet-vw(24);
                height: tablet-vw(24);
    
                &:before {
                    width: tablet-vw(10);
                    height: tablet-vw(10);
                }
            }
        }
    
        &_img {
            max-width: none;
            width: 30%;
            right: tablet-vw(52);
            z-index: 4;
        }
    }
}
@media screen and (max-width: $mobile) {
    .popular {
        padding: mobile-vw(0) 0;
        margin-bottom: mobile-vw(50);
        overflow: hidden;
    
        &_title {
            margin-bottom: mobile-vw(20);
        }
    
        &_list {
            max-width: none;
            width: 100%;
            position: relative;
            z-index: 5;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: mobile-vw(15);
            justify-content: flex-start;
        }
    
        &_item {
            font-size: mobile-vw(18);
            grid-gap: mobile-vw(10);
    
            &_circle {
                width: mobile-vw(24);
                height: mobile-vw(24);
    
                &:before {
                    width: mobile-vw(10);
                    height: mobile-vw(10);
                }
            }
        }
    
        &_img {
            max-width: none;
            width: mobile-vw(300);
            right: mobile-vw(-100);
            z-index: 4;
        }
    }
}