@use "sass:math";

// @mixin font($font_name, $file_name, $weight, $style) {
// 	@font-face {
// 		font-family: $font_name;
// 		font-display: swap;
// 		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
// 		font-weight: #{$weight};
// 		font-style: #{$style};
// 	}
// }
@import "../fonts/stylesheet";

$mobile-width: 414;
$tablet-width: 768;
$desktop-width: 1920;

@function vw($px, $device-width) {
    $result: math.div($px, $device-width) * 100vw;
    @return $result;
}

@function mobile-vw($px) {
    $result: vw($px, $mobile-width);
    @return $result;
}

@function tablet-vw($px) {
    $result: vw($px, $tablet-width);
    @return $result;
}

@function desktop-vw($px) {
    $result: vw($px, $desktop-width);
    @return $result;
}

$tablet: 1199.5px;
$mobile: 767.5px;

.otherBlock_title {
	font-style: normal;
	font-weight: 900;
	font-size: desktop-vw(30);
	line-height: 120%;
	text-align: center;
	color: #07512F;
	text-align: left;
	padding: 0;
}

body{
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: desktop-vw(16);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: desktop-vw(1433);
	padding: 0 desktop-vw(15);
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: desktop-vw(16);
	line-height: 120%;
	color: #000;
}

strong {
	font-size: desktop-vw(16);
}

ul {
	padding: 0 0 0 desktop-vw(25);
}

// @media screen and (max-width: 1600px) {
// 	.container {
// 		max-width: desktop-vw(1600);
// 		padding: 0 desktop-vw(15);
// 		margin-right: auto;
// 		margin-left: auto;
// 		height: 100%;
// 	}
// }

// @media screen and (max-width: 1400px) {
// 	.container {
// 		max-width: desktop-vw(1800);
// 		padding: 0 desktop-vw(15);
// 		margin-right: auto;
// 		margin-left: auto;
// 		height: 100%;
// 	}
// }

.linkBackOrMore {
	display: block;
	font-style: normal;
	font-weight: 900;
	font-size: desktop-vw(16);
	line-height: 120%;
	text-align: center;
	color: #07512F;
	width: max-content;
	position: relative;
	margin: 0 auto;
	text-decoration: none;

	&:after {
		content: "";
		position: absolute;
		height: 1px;
		width: 100%;
		background: #FFDB00;
		bottom: desktop-vw(-5);
		left: 0;
	}
}

.blockFon {
	position: relative;
	padding: desktop-vw(70) 0 0;
	overflow: hidden;
	width: 100%;

	&.otherPage {
		padding: 0;
	}

	&_img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.js-child {
	&.hidden {
		opacity: 0;
		visibility: hidden;
	}
}

@media screen and (max-width: $tablet) {

	strong {
		font-size: tablet-vw(16);
	}

	p {
		font-size: tablet-vw(16);
	}

	ul {
		padding: 0 0 0 tablet-vw(25);
	}

	.otherBlock_title {
		font-size: tablet-vw(25);
	}

	.linkBackOrMore  {
		font-size: tablet-vw(16);
		margin-top: tablet-vw(10);

		&:after {
			bottom: tablet-vw(-5);
		}
	}

	h3 {
		font-size: tablet-vw(20);
	}
	
	body{
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: desktop-vw(14);
	}

	.container {
		max-width: tablet-vw(1920);
		padding: 0 tablet-vw(20);
		margin-right: auto;
		margin-left: auto;
		height: 100%;
	}

	.blockFon {
		padding: tablet-vw(50) 0 0;
	}
}
@media screen and (max-width: $mobile) {

	strong {
		font-size: mobile-vw(16);
	}

	p {
		font-size: mobile-vw(14);
	}

	ul {
		padding: 0 0 0 mobile-vw(25);
	}

	.otherBlock_title {
		font-size: mobile-vw(20);
	}

	.linkBackOrMore  {
		font-size: mobile-vw(16);
		margin-top: mobile-vw(10);

		&:after {
			bottom: mobile-vw(-5);
		}
	}

	h3 {
		font-size: mobile-vw(16);
	}
	
	body{
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: mobile-vw(14);
	}

	.container {
		max-width: mobile-vw(1158);
		padding: 0 mobile-vw(20);
		margin-right: auto;
		margin-left: auto;
		height: 100%;
	}

	.blockFon {
		padding: mobile-vw(40) 0 0;
	}
}

@import "common/header";
@import "common/footer";
@import "banner";
@import "edge";
@import "blockInfo";
@import "popular";
@import "breadcrumbs";
@import "personal";
@import "blockMediaroom";
@import "blockBoardDesicions";
@import "blockReport";
@import "faq";